.wallet-side {
    background: $wallet-side-bg;
    color: $wallet-side-color;
    grid-column: span 3;
    padding: $padding-medium 0;
    min-height: calc(100vh - (#{$topbar-height} + #{$headerbar-height}));
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    &__pagination {
        .pagination__button {
            path {
                stroke: $white !important;
            }

            &_disabled {
                path {
                    stroke: $disabled !important;
                }
            }
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 $padding-normal;
        padding-bottom: $padding-default;
    }

    &__new {
        cursor: pointer;
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(225, 225, 237, 0.5);
        border-radius: 100em;
        transition: $transition-1;

        &:hover {
            background: $success;
        }

        &:active {
            transform: scale(1.1);
            background: darken($success, 5%);
        }
    }

    &__title {
        font-size: 17px;
        line-height: normal;
        font-weight: $font-weight-semi-bold;
    }

    &__divider {
        margin: 32px $padding-normal;
        height: 1px;
        background: $white;
        opacity: 0.15;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: $padding-normal;
        padding: 0 $padding-normal;

        .pagination {
            &__button {
                background: $secondary;

                &_disabled {
                    background: rgba(255, 255, 255, 0.15) !important;
                }

                &:hover {
                    background: $primary;
                }
            }

            &__arrow {
                path {
                    stroke: #ffffff;
                }

                &_disabled {
                    path {
                        stroke: #a7b4cc !important;
                    }
                }
            }
        }
    }
}
