.content {
    padding-left: $nav-width-collapsed;
    transition: $transition-1;
    width: 100%;

    @include size-md {
        padding-top: $headerbar-height;
        padding-left: 0;
    }

    &_topbar {
        padding-top: calc(143px + #{$headerbar-height});
    }

    &_collapsed {
        padding-left: $nav-width-expanded;

        @include size-md {
            padding-left: 0;

            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(9, 14, 47, 0.24);
            }
        }
    }

    &_overflow {
        // height: calc(100vh - #{$topbar-height} - #{$headerbar-height});
        height: 100vh;
        overflow: hidden;

        @include size-md {
            height: unset;
            overflow: auto;
        }

        &_mobile {
            overflow-y: hidden;
            position: absolute;
        }
    }
}
