.landing {
    background: #fff;

    * {
        font-family: $landing-font;
    }

    .button {
        &_size {
            &_large {
                height: 56px;
                font-weight: bold;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: -0.36px;
            }
        }

        &_width {
            &_default {
                padding: 12px 24px;
                min-width: unset;
            }
        }
    }

    .section {
        padding: 80px 0px;

        @include size-md {
            padding: 40px 0;
        }
    }

    h1,
    h2 {
        font-weight: bold;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -2px;

        @include size-md {
            font-size: 28px;
            line-height: normal;
            letter-spacing: -1px;
        }
    }

    h3 {
        font-weight: bold;
        font-size: 36px;
        line-height: 46px;
        letter-spacing: -1.6px;

        @include size-md {
            font-size: 24px;
            letter-spacing: -0.8px;
            line-height: normal;
        }
    }

    h4 {
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: -0.4px;
    }

    h5 {
        font-weight: bold;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.355556px;
    }

    h6 {
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.3px;
    }

    .text {
        &_descr {
            font-size: 18px;
            line-height: 28px;
            letter-spacing: -0.4px;
            color: $text-dark;
        }

        &_label {
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: -0.355556px;
            color: $text-dark;
        }

        &_small {
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: -0.3px;
        }
    }

    .header {
        position: sticky;
        top: 0;
        left: 0;
        background: white;
        z-index: 10;
        transition: $transition-1;

        &_active {
            box-shadow: 0 8px 24px rgb(0 0 0 / 9%);
        }

        &__row {
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $darkest;
        }

        &__logo {
            width: 100px;
        }

        &__nav {
            @include size-md {
                display: none;
            }

            &-item {
                display: inline-block;
                transition: $transition-1;

                &:not(:last-child) {
                    margin-right: 40px;
                }

                &:hover {
                    color: $primary;
                }
            }

            &-link {
                font-weight: bold;
                font-size: 16px;
                line-height: 26px;
            }
        }

        &__actions {
            display: flex;
            align-items: center;

            .button {
                &:not(:last-child) {
                    margin-right: $padding-default;
                }

                @include size-md {
                    font-size: 14px;
                    padding: 12px 14px;
                }
            }
        }
    }

    .welcome {
        &__title {
            max-width: 730px;
            margin: 0 auto;
            text-align: center;
        }

        &__descr {
            max-width: 450px;
            text-align: center;
            margin: 0 auto;
        }

        &__text {
            text-align: center;
            margin: 40px 0px;
        }

        &__hero {
            text-align: center;
            margin: 40px 0px;
            height: auto;
            max-width: 100%;
        }
    }

    .about {
        position: relative;

        &__items {
            margin-top: 80px;

            @include size-md {
                margin-top: 40px;
            }
        }

        &__img {
            box-shadow: 0px 6px 124px rgba(0, 0, 0, 0.08);
            border-radius: 24px;
            position: absolute;
            left: -170px;
            top: 150px;
            border: 12px solid rgba(white, 0.2);

            @include size-lg {
                left: -310px;
            }

            @include size-md {
                display: none;
            }
        }

        &__item {
            display: flex;
            align-items: center;
            padding: $padding-normal;
            border-radius: 16px;
            cursor: pointer;
            transition: $transition-1;

            &_active {
                background: rgba(#000000, 0.1);
            }

            &:hover {
                background: rgba(#000000, 0.1);
            }

            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }

        &__icon {
            height: 72px;
            width: 72px;
            border-radius: 16px;
            background: rgba(#fff, 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
            mix-blend-mode: normal;

            &-svg {
                height: 32px;

                path {
                    fill: $white;
                }
            }
        }

        &__title {
            font-weight: bold;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: -0.4px;
            margin-bottom: 8px;
        }

        &__descr {
            flex: 1;
            margin-left: 24px;
        }

        &__text {
            font-size: 14px;
            line-height: 24px;
            letter-spacing: -0.3px;
            color: #ffffff;
            mix-blend-mode: normal;
            opacity: 0.5;
        }
    }

    .features {
        &__descr {
            margin-top: 40px;
            margin-bottom: 80px;

            @include size-md {
                margin-bottom: 40px;
            }
        }

        &__cards {
            display: grid;
            grid-gap: 64px;
            grid-template-columns: 1fr 1fr;

            @include size-md {
                grid-template-columns: 1fr;
                grid-gap: 32px;
            }
        }

        &__card {
            padding: 56px;
            border: 2px solid #e7e5ea;
            box-sizing: border-box;
            border-radius: 32px;
            transition: $transition-1;

            @include size-md {
                padding: 28px;
            }

            &:hover {
                box-shadow: $shadow-1;
                border-color: $primary;
            }

            &-icon {
                width: 48px;
                height: 48px;
            }

            &-title {
                font-weight: bold;
                font-size: 24px;
                line-height: 34px;
                letter-spacing: -0.8px;
                margin-top: 32px;
                margin-bottom: 16px;
            }

            &-descr {
            }
        }
    }

    .pricing {
        &__title {
            margin-bottom: 32px;
        }

        &__divider {
            margin: 80px 0;
            width: 100%;
            height: 1px;
            background: #e7e5ea;

            @include size-md {
                margin: 20px 0;
            }
        }

        &__switch {
            @include size-md {
                margin-top: 16px;
            }
        }

        &__item {
            &_primary {
                color: white;
                background: $primary;

                .pricing__item {
                    &-descr {
                        opacity: 0.5;
                        color: white;
                    }

                    &-price {
                        &_index {
                            color: white;
                            opacity: 0.5;
                        }
                    }
                }
            }

            border-radius: 32px;
            padding: 40px;
            display: flex;
            height: 100%;
            flex-direction: column;

            @include size-md {
                padding: 24px;
            }

            &-title {
                margin-bottom: 32px;

                @include size-md {
                    margin-bottom: 16px;
                }
            }

            &-price {
                margin-bottom: 40px;

                &_index {
                    margin-left: 14px;
                }

                @include size-md {
                    margin-bottom: 24px;
                }
            }

            &-descr {
                margin-bottom: 40px;

                @include size-md {
                    margin-bottom: 24px;
                }
            }

            &-features {
                flex: 1;
            }

            &-feature {
                display: flex;
                align-items: center;
                font-weight: bold;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: -0.3px;

                &:not(:last-child) {
                    margin-bottom: 16px;
                }
            }

            &-icon {
                width: 24px;
                margin-right: 16px;
                flex-shrink: 0;
            }

            &-button {
                margin-top: 40px;
            }
        }
    }

    .pay {
        &__img {
            height: auto;
            width: 100%;
        }

        &__descr {
            color: $white;
            margin-top: 32px;
        }
    }

    .mining {
        @include size-md {
            display: none;
        }

        &__left {
            display: flex;
            align-items: center;

            @include size-md {
                flex-flow: row wrap;
            }
        }

        &__right {
            align-self: center;

            @include size-md {
                margin-top: 16px;
            }
        }

        &__icon {
            height: 112px;
            width: 112px;
            margin-right: 40px;

            @include size-md {
                margin-right: 0;
                margin-bottom: 16px;
                display: none;
            }
        }

        &__title {
            margin-bottom: 16px;
        }
    }

    .footer {
        &__section {
            padding-top: 80px;
            padding-bottom: 48px;

            @include size-md {
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }

        &__descr {
            &-heading {
                margin-left: 16px;
            }

            &-top {
                margin-bottom: 16px;
                display: flex;
                align-items: center;
            }

            &-logo {
                height: 32px;
            }

            &-about {
                margin-bottom: 30px;
                opacity: 0.5;
                mix-blend-mode: normal;
            }
        }

        &__divider {
            background: #fff;
            opacity: 0.1;
            margin-top: 80px;
            margin-bottom: 48px;
            height: 1px;

            @include size-md {
                margin: 24px 0;
            }
        }

        &__socials {
            display: grid;
            grid-template-columns: repeat(3, 40px);
            grid-gap: 8px;

            &-icon {
                width: 20px;
            }

            &-item {
                background: rgba(0, 0, 0, 0.06);
                border-radius: 5px;
                cursor: pointer;
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: $transition-1;

                &:hover {
                    background: rgba(95, 75, 75, 0.3);
                }
            }
        }

        &__copyright {
            opacity: 0.5;
        }

        &__nav {
            @include size-md {
                margin-top: 24px;
            }

            &-title {
                margin-bottom: 16px;
            }

            &-item {
                mix-blend-mode: normal;
                opacity: 0.5;
                transition: $transition-1;
                display: block;

                &:hover {
                    opacity: 1;
                }

                &:not(:last-child) {
                    margin-bottom: 16px;
                }
            }
        }
    }
}
