.control-wrapper {
    &__title {
        line-height: 18px;
        font-weight: bold;
        color: $darker;
        font-size: $font-size-sm;
        margin-bottom: $padding-default;
        display: block;
    }

    &__row {
        display: flex;
        align-items: center;

        .checkbox {
            &:not(:last-child) {
                margin-right: $padding-default;
            }
        }
    }

    &__error {
        font-size: $font-size-sm;
        line-height: 18px;
        min-height: 18px;
        transition: $transition-1;
        opacity: 0;
        margin-top: $padding-xs;
        color: $error;

        &_visible {
            opacity: 1;
        }
    }
}
